:root {
  --primary: #1e90ff;
  --secondary: #ffcf40;
}

h1 {
  color: var(--primary);
}

button {
  background-color: var(--secondary);
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0; 
    transform: translateY(70%); /*зміщення по  Y*/
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
